<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background/Foreground_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{964,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{964,462}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>background/Foreground_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1140,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{1140,462}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,466},{214,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,152}}</string>
                <key>sourceSize</key>
                <string>{214,152}</string>
            </dict>
            <key>ninja/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,798},{114,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,148}}</string>
                <key>sourceSize</key>
                <string>{114,148}</string>
            </dict>
            <key>ninja/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,682},{114,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1144,930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9179b6df7e2245f5460c1c8c6e825db7:b7fd68b418e65ce016e46beda3e892b7:8e9ec22a2c0ec922c15f2d7e51a327b3$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
