<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>app icon.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2018,1744},{118,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,118}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>background/Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,1723},{1262,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,253}}</string>
                <key>sourceSize</key>
                <string>{1262,253}</string>
            </dict>
            <key>background/Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,734},{1266,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,370}}</string>
                <key>sourceSize</key>
                <string>{1266,370}</string>
            </dict>
            <key>background/Foreground_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,1288},{964,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{964,462}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>background/Foreground_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1280},{1140,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{1140,462}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/JungleBG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/JungleFG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/Jungle_BG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/Jungle_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,1453},{1262,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,268}}</string>
                <key>sourceSize</key>
                <string>{1262,268}</string>
            </dict>
            <key>background/Jungle_Clouds_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,2},{1356,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1356,370}}</string>
                <key>sourceSize</key>
                <string>{1356,370}</string>
            </dict>
            <key>background/Jungle_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,2},{1356,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1356,370}}</string>
                <key>sourceSize</key>
                <string>{1356,370}</string>
            </dict>
            <key>background/Jungle_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,2},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/Mountain_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,1723},{1262,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1262,253}}</string>
                <key>sourceSize</key>
                <string>{1262,253}</string>
            </dict>
            <key>background/Mountain_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,734},{1266,370}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1266,370}}</string>
                <key>sourceSize</key>
                <string>{1266,370}</string>
            </dict>
            <key>background/Mountain_FG_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,1288},{964,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{964,462}}</string>
                <key>sourceSize</key>
                <string>{964,644}</string>
            </dict>
            <key>background/Mountain_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1280},{1140,462}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,182},{1140,462}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/Temple_BG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>background/Temple_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,1106},{1274,345}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1274,345}}</string>
                <key>sourceSize</key>
                <string>{1274,345}</string>
            </dict>
            <key>background/Temple_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2286,374},{1356,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1356,358}}</string>
                <key>sourceSize</key>
                <string>{1356,358}</string>
            </dict>
            <key>background/Temple_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,648},{1140,630}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{1140,630}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4435,1752},{99,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,127}}</string>
                <key>sourceSize</key>
                <string>{99,127}</string>
            </dict>
            <key>bomb_unlit.png</key>
            <dict>
                <key>frame</key>
                <string>{{3644,2},{724,934}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{724,934}}</string>
                <key>sourceSize</key>
                <string>{724,934}</string>
            </dict>
            <key>gladiator/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1744},{114,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,162}}</string>
                <key>sourceSize</key>
                <string>{114,162}</string>
            </dict>
            <key>gladiator/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{4192,1752},{114,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,170}}</string>
                <key>sourceSize</key>
                <string>{114,170}</string>
            </dict>
            <key>gladiator/gladiator_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,1744},{114,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,162}}</string>
                <key>sourceSize</key>
                <string>{114,162}</string>
            </dict>
            <key>gladiator/gladiator_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{4192,1752},{114,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,170}}</string>
                <key>sourceSize</key>
                <string>{114,170}</string>
            </dict>
            <key>jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{4370,2},{214,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,152}}</string>
                <key>sourceSize</key>
                <string>{214,152}</string>
            </dict>
            <key>logo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1140,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1140,644}}</string>
                <key>sourceSize</key>
                <string>{1140,644}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1744},{640,225}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{640,225}}</string>
                <key>sourceSize</key>
                <string>{684,225}</string>
            </dict>
            <key>menulogo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{3550,1752},{640,225}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{640,225}}</string>
                <key>sourceSize</key>
                <string>{684,225}</string>
            </dict>
            <key>monkey/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{4308,1752},{125,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,148}}</string>
                <key>sourceSize</key>
                <string>{125,148}</string>
            </dict>
            <key>monkey/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{4370,218},{126,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{126,148}</string>
            </dict>
            <key>monkey/monkey_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{4308,1752},{125,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,148}}</string>
                <key>sourceSize</key>
                <string>{125,148}</string>
            </dict>
            <key>monkey/monkey_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{4370,218},{126,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,148}}</string>
                <key>sourceSize</key>
                <string>{126,148}</string>
            </dict>
            <key>ninja/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{4370,368},{114,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,148}}</string>
                <key>sourceSize</key>
                <string>{114,148}</string>
            </dict>
            <key>ninja/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1744},{114,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
            <key>ninja/ninja_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{4370,368},{114,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,148}}</string>
                <key>sourceSize</key>
                <string>{114,148}</string>
            </dict>
            <key>ninja/ninja_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1902,1744},{114,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,150}}</string>
                <key>sourceSize</key>
                <string>{114,150}</string>
            </dict>
            <key>share_twitter_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{3562,938},{1000,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1000,348}}</string>
                <key>sourceSize</key>
                <string>{1000,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{4564,1979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9974b723227263edf760dbc3d0f30c95:3bc9ffa245d3812cd5e3efc6762ee40c:8e9ec22a2c0ec922c15f2d7e51a327b3$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
