<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>app icon.psd</key>
            <dict>
                <key>frame</key>
                <string>{{4631,191},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>background/Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2740,328},{633,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,129}}</string>
                <key>sourceSize</key>
                <string>{633,129}</string>
            </dict>
            <key>background/Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{4057,2},{635,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,187}}</string>
                <key>sourceSize</key>
                <string>{635,187}</string>
            </dict>
            <key>background/Foreground_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{484,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{484,234}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>background/Foreground_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4057,191},{572,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{572,234}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/JungleBG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/JungleFG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Jungle_BG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2504,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Jungle_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2105,328},{633,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,136}}</string>
                <key>sourceSize</key>
                <string>{633,136}</string>
            </dict>
            <key>background/Jungle_Clouds_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{3375,322},{680,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,187}}</string>
                <key>sourceSize</key>
                <string>{680,187}</string>
            </dict>
            <key>background/Jungle_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{3375,322},{680,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,187}}</string>
                <key>sourceSize</key>
                <string>{680,187}</string>
            </dict>
            <key>background/Jungle_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Mountain_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2740,328},{633,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,129}}</string>
                <key>sourceSize</key>
                <string>{633,129}</string>
            </dict>
            <key>background/Mountain_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{4057,2},{635,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,187}}</string>
                <key>sourceSize</key>
                <string>{635,187}</string>
            </dict>
            <key>background/Mountain_FG_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{484,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{484,234}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>background/Mountain_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{4057,191},{572,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{572,234}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Temple_BG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Temple_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,328},{639,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,175}}</string>
                <key>sourceSize</key>
                <string>{639,175}</string>
            </dict>
            <key>background/Temple_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,328},{680,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,181}}</string>
                <key>sourceSize</key>
                <string>{680,181}</string>
            </dict>
            <key>background/Temple_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{3312,2},{572,318}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{572,318}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{4631,254},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,66}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>bomb_unlit.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{364,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{364,469}}</string>
                <key>sourceSize</key>
                <string>{364,469}</string>
            </dict>
            <key>gladiator/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,63},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>gladiator/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,2},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{59,87}</string>
            </dict>
            <key>gladiator/gladiator_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,63},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>gladiator/gladiator_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3966,2},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{59,87}</string>
            </dict>
            <key>jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,191},{109,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>logo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{3195,2},{322,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{322,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
            <key>menulogo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{3078,2},{322,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{322,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
            <key>monkey/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3964,124},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>monkey/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,124},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>monkey/monkey_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3964,124},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>monkey/monkey_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,124},{65,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,76}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>ninja/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,63},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>ninja/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,2},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>ninja/ninja_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,63},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>ninja/ninja_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{3886,2},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>share_twitter_large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,176}}</string>
                <key>sourceSize</key>
                <string>{502,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites.pvr.ccz</string>
            <key>size</key>
            <string>{4694,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9974b723227263edf760dbc3d0f30c95:3bc9ffa245d3812cd5e3efc6762ee40c:8e9ec22a2c0ec922c15f2d7e51a327b3$</string>
            <key>textureFileName</key>
            <string>Sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
