<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>app icon.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2277,380},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>background/Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,328},{633,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,129}}</string>
                <key>sourceSize</key>
                <string>{633,129}</string>
            </dict>
            <key>background/Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,191},{635,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,187}}</string>
                <key>sourceSize</key>
                <string>{635,187}</string>
            </dict>
            <key>background/Foreground_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{484,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{484,234}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>background/Foreground_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2361,238},{572,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{572,234}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/JungleBG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/JungleFG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Jungle_BG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Jungle_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{633,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,136}}</string>
                <key>sourceSize</key>
                <string>{633,136}</string>
            </dict>
            <key>background/Jungle_Clouds_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,2},{680,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,187}}</string>
                <key>sourceSize</key>
                <string>{680,187}</string>
            </dict>
            <key>background/Jungle_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>background/Mountain_Clouds_back_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,328},{633,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{633,129}}</string>
                <key>sourceSize</key>
                <string>{633,129}</string>
            </dict>
            <key>background/Mountain_Clouds_front_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,191},{635,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{635,187}}</string>
                <key>sourceSize</key>
                <string>{635,187}</string>
            </dict>
            <key>background/Mountain_FG_iPhone4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2406,2},{484,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{484,234}}</string>
                <key>sourceSize</key>
                <string>{484,324}</string>
            </dict>
            <key>background/Mountain_FG_iPhone5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2361,238},{572,234}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,90},{572,234}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>gladiator/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,441},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>gladiator/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,380},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{59,87}</string>
            </dict>
            <key>gladiator/gladiator_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,441},{59,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,83}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>gladiator/gladiator_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2031,380},{59,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,87}}</string>
                <key>sourceSize</key>
                <string>{59,87}</string>
            </dict>
            <key>jewel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,380},{109,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,78}}</string>
                <key>sourceSize</key>
                <string>{109,78}</string>
            </dict>
            <key>logo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{572,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{572,324}}</string>
                <key>sourceSize</key>
                <string>{572,324}</string>
            </dict>
            <key>menu_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,380},{322,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{322,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
            <key>menulogo.psd</key>
            <dict>
                <key>frame</key>
                <string>{{1272,328},{322,115}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{322,115}}</string>
                <key>sourceSize</key>
                <string>{344,115}</string>
            </dict>
            <key>monkey/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2199,380},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>monkey/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,441},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>monkey/monkey_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2199,380},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>monkey/monkey_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2116,441},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>ninja/attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2196,441},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>ninja/fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2120,380},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>ninja/ninja_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{2196,441},{59,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,76}}</string>
                <key>sourceSize</key>
                <string>{59,76}</string>
            </dict>
            <key>ninja/ninja_fall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2120,380},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites.pvr.ccz</string>
            <key>size</key>
            <string>{2935,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc7be028b6d030591ad7c83b7b192b3:499dc3db5ec6c15f15a057b757c60b9e:8e9ec22a2c0ec922c15f2d7e51a327b3$</string>
            <key>textureFileName</key>
            <string>Sprites.pvr.ccz</string>
        </dict>
    </dict>
</plist>
